<div class="panel panel-default">
	<div class="panel-heading">Overview</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Menu</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Upgrades</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Inventory</div>
	<div class="panel-body">
		
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Reports</div>
	<div class="panel-body">
		
	</div>
</div>