<div class="panel panel-default">
	<div class="panel-heading">Registered Users</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class="table table-condensed table-bordered">
				<thead>
					<tr>
						<th style="text-align: center;">First</th>
						<th style="text-align: center;">Last</th>
						<th style="text-align: center;">Email</th>
						<th style="text-align: center;">Checked-In</th>
					</tr>
					<tr>
						<th style="text-align: center;"><input type="text" class="form-control"/></th>
						<th style="text-align: center;"><input type="text" class="form-control"/></th>
						<th style="text-align: center;"><input type="text" class="form-control"/></th>
						<th style="text-align: center;"><input type="text" class="form-control"/></th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Marc</td>
						<td>Fisher</td>
						<td>Marc.Fisher@Teradata.com</td>
						<td style="text-align: center;"><input type="checkbox"/></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>