<div class="tr">
	<ol class="breadcrumb">
	  <li><a href="#">Login</a></li>
	  <li class="active">Setup Account</li>
	</ol>
	<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control" id="setup-username" placeholder="Username">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" id="setup-password" placeholder="Password">
	</div>
	<div class="form-group">
		<label>Confirm Password</label>
		<input type="password" class="form-control" id="setup-confirm-password" placeholder="Password">
	</div>
	<button id="create-account" class="btn btn-lg btn-block btn-primary">Create Account</button>
</div> <!-- /#login -->
