<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="svg/teradata-logo-h.svg" alt="Teradata Labs logo" style="height: 20px;"> Tera-Restaurteur</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><i class="fa fa-cutlery"></i> Restuarant</a></li>
      <li><a href="#"><i class="fa fa-envelope"></i> Marketing</a></li>
      <li><a href="#"><i class="fa fa-bullhorn"></i> Reviews</a></li>
      <li><a href="#"><i class="fa fa-dashboard"></i> Reports</a></li>
      <li><a href="#"><i class="fa fa-question-circle"></i> Help</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div id="content">

</div>