<div id="logo">
	<a href="http://www.teradata.com">
		Presented By 
		<br/>
		<img src="svg/teradata-logo.svg" alt="Teradata Labs logo" style="width: 200px;height: 30px;">
	</a>
</div>
<div class="tr">
	<h3 style="margin-top: 30px;">Welcome to Tera-Restaurteur</h3>
	<form id="login-form" action="/login" method="post" class="form">
		<div class="form-group">
			<input type="text" class="form-control" id="username" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="password" name="password" placeholder="Password">
		</div>
		<div class="form-group" style="text-align: left;">
			<a href="#" style="border-bottom: 1px dashed #000;">Forgot Password?</a>
			<button type="submit" id="login-btn" class="btn btn-primary btn-xs pull-right">Log In</button>
		</div>
	</form>
</div> <!-- /#login -->
<button id="signup-btn" class="btn btn-lg btn-block">
	Register
</button>
