<div class="tr">
	<ol class="breadcrumb">
	  <li><a href="/">Login</a></li>
	  <li class="active">Register</li>
	</ol>
	<form id="register-form" action="/api/register" method="post">
		<div class="form-group  <%= (obj.valid && obj.valid.fisrtname) ? 'has-error' : '' %>">
			<label for="firstname">First Name</label>
			<input type="text" class="form-control" name="firstname" value="<%= obj.firstname %>">
			<span class="help-block"><%= (obj.valid && obj.valid.firstname) ? obj.valid.firstname : '' %></span>
		</div>
		<div class="form-group  <%= (obj.valid && obj.valid.lastname) ? 'has-error' : '' %>">
			<label for="lastname">Last Name</label>
			<input type="text" class="form-control" name="lastname" value="<%= obj.lastname %>">
			<span class="help-block"><%= (obj.valid && obj.valid.lastname) ? obj.valid.lastname : '' %></span>
		</div>
		<div class="form-group  <%= (obj.valid && obj.valid.username) ? 'has-error' : '' %>">
			<label for="username">Email</label>
			<input type="text" class="form-control" name="username" value="<%= obj.username %>">
			<span class="help-block"><%= (obj.valid && obj.valid.username) ? obj.valid.username : '' %></span>
		</div>
		<div class="form-group">
			<label for="company">Company Name <em>(Optional)</em></label>
			<input type="text" class="form-control" name="company" value="<%= obj.company %>">
		</div>
		<div class="form-group">
			<label for="title">Title <em>(Optional)</em></label>
			<input type="text" class="form-control" name="title" value="<%= obj.title %>">
		</div>
		<div class="form-group  <%= (obj.valid && obj.valid.passw) ? 'has-error' : '' %>">
			<label for="passw">Password</label>
			<input type="password" class="form-control" name="passw" value="<%= obj.passw %>">
			<span class="help-block"><%= (obj.valid && obj.valid.passw) ? obj.valid.passw : '' %></span>
		</div>
		<div class="form-group  <%= (obj.valid && obj.valid['confirm-passw']) ? 'has-error' : '' %>">
			<label for="confirm-passw">Confirm Password</label>
			<input type="password" class="form-control" name="confirm-passw" value="<%= obj['confirm-passw'] %>">
			 span class="help-block"><%= (obj.valid && obj.valid.password) ? obj.valid.password : '' %></span>
		</div>
		<button id="register" type="submit" class="btn btn-lg btn-block btn-primary">Register</button>
	</form>
</div> <!-- /#login -->
